/* 1. exercice-flex */
.exercice-flex .container-small {
  display: flex;
  flex-direction: row;
}

/* 2. exercice-flex-2 */
.exercice-flex-2 .container-small {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*3. exercice-align-content-1 */
.exercice-align-content-1 .container-small {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  flex-wrap: wrap-reverse;
}

.exercice-align-content-1 .element-pink {
  order: 6;
}

.exercice-align-content-1 .element-yellow {
  order: 4;
}

.exercice-align-content-1 .element-gray {
  order: 5;
}

.exercice-align-content-1 .element-red {
  order: 1;
}

.exercice-align-content-1 .element-blue {
  order: 2;
}

.exercice-align-content-1 .element-green {
  order: 3;
}

/*4. exercice-align-content-2 */
.exercice-align-content-2 .container-small {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: stretch;
}

/*5. exercice-align-content-3 */
.exercice-align-content-3 .container-small {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: space-between;
  flex-wrap: wrap-reverse;
}

/*6. exercice-flex-grow-1 */
.exercice-flex-grow-1 .container-small {
  display: flex;
  flex-direction: row;
}

.exercice-flex-grow-1 .element-red {
  flex-grow: 1;
}

/*7. exercice-flex-grow-2 */

/*8. exercice-flex-grow-3 */

/*9. exercice-all-in */
